<HelpEnabledDialogs>
  
  <HelpEnabledDialog>
    <DialogId>77B1A8B85955957DDDB967A36262A3C145B682D5</DialogId>
    <DialogName>Block details dialog</DialogName>
    <HelpButtonAlignment>BottomLeft</HelpButtonAlignment>
    <MarginRequired>None</MarginRequired> <!--Top|Bottom|Right|Left|None -->
    <HelpInfoEntries>
      <HelpInfoEntry>
        <FeatureId>31BC375D391165622ECAF61182351E76C4159391</FeatureId>
        <ShortInfo>Information on the requirement details tab{1}</ShortInfo>
        <DetailedInfo></DetailedInfo>
        <VideoURL>https://www.youtube.com/watch?v=kFOUvrMTLUU</VideoURL>
        <MoreDetailsURL></MoreDetailsURL>
      </HelpInfoEntry>
      <HelpInfoEntry>
        <FeatureId>4D3C52233D35AB15EA43C4249E9DA069EB075C1C</FeatureId>
        <ShortInfo>Information on the general tab within block properties</ShortInfo>
        <DetailedInfo></DetailedInfo>
        <VideoURL>https://www.youtube.com/watch?v=qokSmF3nFKY&amp;list=PLO7SodxCJyn5pOwsFnf_THYr5RrKwLJ5k&amp;index=6</VideoURL>
        <MoreDetailsURL></MoreDetailsURL>
      </HelpInfoEntry>
      <HelpInfoEntry>
        <FeatureId>F3C033E5027A160E20D271415CF9079129F5E2D2</FeatureId>
        <ShortInfo>Information on the images tab within block properties</ShortInfo>
        <DetailedInfo></DetailedInfo>
        <VideoURL>https://www.youtube.com/watch?v=jdmvWHQnRvE&amp;list=PLO7SodxCJyn5pOwsFnf_THYr5RrKwLJ5k&amp;index=8</VideoURL>
        <MoreDetailsURL></MoreDetailsURL>
      </HelpInfoEntry>
      <HelpInfoEntry>
        <FeatureId>68E283E01AF497686268E54B53BA1F79FCAD6BC5</FeatureId>
        <ShortInfo>Information on the process details tab within block properties</ShortInfo>
        <DetailedInfo></DetailedInfo>
        <VideoURL>https://www.youtube.com/watch?v=8ympVtESssk&amp;index=17&amp;list=PLO7SodxCJyn5pOwsFnf_THYr5RrKwLJ5k</VideoURL>
        <MoreDetailsURL></MoreDetailsURL>
      </HelpInfoEntry>
      <HelpInfoEntry>
        <FeatureId>446A46550FE5D40606681EEEFF341A1CA34FCAFD</FeatureId>
        <ShortInfo>Information on the properties tab within block properties</ShortInfo>
        <DetailedInfo></DetailedInfo>
        <VideoURL>https://www.youtube.com/watch?v=8ympVtESssk&amp;index=17&amp;list=PLO7SodxCJyn5pOwsFnf_THYr5RrKwLJ5k</VideoURL>
        <MoreDetailsURL></MoreDetailsURL>
      </HelpInfoEntry>     
    </HelpInfoEntries>  
  </HelpEnabledDialog>
  
  <HelpEnabledDialog>
    <DialogId>3F9C8DAAD3C36D78860A074F6882990E67BD475C</DialogId>
    <DialogName>Path explorer</DialogName>
    <HelpButtonAlignment>BottomLeft</HelpButtonAlignment>
    <MarginRequired>Bottom</MarginRequired>
    <HelpInfoEntries>
      <HelpInfoEntry>
        <FeatureId>09F2D31FC05FC5FF3486F3B8D74A2D24B15061A0</FeatureId>
        <ShortInfo>Path Explorer Optimization</ShortInfo>
        <DetailedInfo>Allows you to define the parameters for your optimisation</DetailedInfo>
        <VideoURL>https://www.youtube.com/watch?v=O_O1x0zoLYE&amp;index=14&amp;list=PLO7SodxCJyn5pOwsFnf_THYr5RrKwLJ5k</VideoURL>
        <MoreDetailsURL></MoreDetailsURL>
      </HelpInfoEntry>
      <HelpInfoEntry>
        <FeatureId>13AF75488B66EA3E8265B84594C87002A92B9F04</FeatureId>
        <ShortInfo>Path explorer Lower Widget</ShortInfo>
        <DetailedInfo>Allows you to view coverage statistic, print, store and export your optimized stored paths</DetailedInfo>
        <VideoURL>https://www.youtube.com/watch?v=dCWkibIl73Y&amp;list=PLO7SodxCJyn5pOwsFnf_THYr5RrKwLJ5k&amp;index=13</VideoURL>
        <MoreDetailsURL></MoreDetailsURL>
      </HelpInfoEntry>      
    </HelpInfoEntries>
  </HelpEnabledDialog>
  
  <HelpEnabledDialog>
    <DialogId>782F71F9382AF9F68C6EED9A7860C43FDF60F512</DialogId>
    <DialogName>Main Window</DialogName>
    <HelpButtonAlignment></HelpButtonAlignment>
    <MarginRequired>None</MarginRequired>
    <HelpInfoEntries>
      <HelpInfoEntry>
        <FeatureId>A209DF46D0D13D0707FB7301EA27C98E1696CDF8</FeatureId>
        <ShortInfo>Information on the Rally Connector</ShortInfo>
        <DetailedInfo></DetailedInfo>
        <VideoURL>https://www.youtube.com/watch?v=kFOUvrMTLUU</VideoURL>
        <MoreDetailsURL></MoreDetailsURL>
      </HelpInfoEntry>
      <HelpInfoEntry>
        <FeatureId>D38ACD766EFD01F62D866D01C276EC262B37AE22</FeatureId>
        <ShortInfo>Information on the Filters panel</ShortInfo>
        <DetailedInfo></DetailedInfo>
        <VideoURL>https://www.youtube.com/watch?v=kFOUvrMTLUU</VideoURL>
        <MoreDetailsURL></MoreDetailsURL>
      </HelpInfoEntry>
      <HelpInfoEntry>
        <FeatureId>30B2E1D347B6FC63B7C821A318B6FA4F6F992987</FeatureId>
        <ShortInfo>Information on the must not occur together contraints</ShortInfo>
        <DetailedInfo></DetailedInfo>
        <VideoURL>https://www.youtube.com/watch?v=IsrxnBmrmpo&amp;list=PLO7SodxCJyn5pOwsFnf_THYr5RrKwLJ5k&amp;index=11</VideoURL>
        <MoreDetailsURL></MoreDetailsURL>
      </HelpInfoEntry>
      <HelpInfoEntry>
        <FeatureId>E42894EB320CC8606D89F984217B1D872D896F57</FeatureId>
        <ShortInfo>Information on the must occur together contraints</ShortInfo>
        <DetailedInfo></DetailedInfo>
        <VideoURL>https://www.youtube.com/watch?v=3uv6p_0jfxw&amp;list=PLO7SodxCJyn5pOwsFnf_THYr5RrKwLJ5k&amp;index=12</VideoURL>
        <MoreDetailsURL></MoreDetailsURL>
      </HelpInfoEntry>
      <HelpInfoEntry>
        <FeatureId>5DFE1B04A37702A1CAEA9B87F2302A137AD713A7</FeatureId>
        <ShortInfo>Information on the implied must occur together contraints</ShortInfo>
        <DetailedInfo></DetailedInfo>
        <VideoURL>https://www.youtube.com/watch?v=erPyxdbh0yQ&amp;list=PLO7SodxCJyn5pOwsFnf_THYr5RrKwLJ5k&amp;index=9</VideoURL>
        <MoreDetailsURL></MoreDetailsURL>
      </HelpInfoEntry>
      <HelpInfoEntry>
        <FeatureId>562A0DB5096504336959BC0D2E7BF003A72EABAD</FeatureId>
        <ShortInfo>Information on advanced contraints</ShortInfo>
        <DetailedInfo></DetailedInfo>
        <VideoURL>https://www.youtube.com/watch?v=F0-3c9Xdu9c&amp;index=1&amp;list=PLO7SodxCJyn5pOwsFnf_THYr5RrKwLJ5k</VideoURL>
        <MoreDetailsURL></MoreDetailsURL>
      </HelpInfoEntry>
      <HelpInfoEntry>
        <FeatureId>D38ACD766EFD01F62D866D01C276EC262B37AE22</FeatureId>
        <ShortInfo>Information on filters</ShortInfo>
        <DetailedInfo></DetailedInfo>
        <VideoURL>https://www.youtube.com/watch?v=LnRv_-g7dvs&amp;index=5&amp;list=PLO7SodxCJyn5pOwsFnf_THYr5RrKwLJ5k</VideoURL>
        <MoreDetailsURL></MoreDetailsURL>
      </HelpInfoEntry>
      <HelpInfoEntry>
        <FeatureId>421625F0E6A47F35C4E5CBF705ED68306CC68A2F</FeatureId>
        <ShortInfo>Information on building a manual path</ShortInfo>
        <DetailedInfo></DetailedInfo>
        <VideoURL>https://www.youtube.com/watch?v=fRDF4F6V7L8&amp;list=PLO7SodxCJyn5pOwsFnf_THYr5RrKwLJ5k&amp;index=10</VideoURL>
        <MoreDetailsURL></MoreDetailsURL>
      </HelpInfoEntry>
      <HelpInfoEntry>
        <FeatureId>A209DF46D0D13D0707FB7301EA27C98E1696CDF8</FeatureId>
        <ShortInfo>Information on rally exporter</ShortInfo>
        <DetailedInfo></DetailedInfo>
        <VideoURL>https://www.youtube.com/watch?v=8EFG7aERh0I&amp;index=18&amp;list=PLO7SodxCJyn5pOwsFnf_THYr5RrKwLJ5k</VideoURL>
        <MoreDetailsURL></MoreDetailsURL>
      </HelpInfoEntry>
    </HelpInfoEntries>
  </HelpEnabledDialog>

  <HelpEnabledDialog>
    <DialogId>6D23B425F4EE79F8907FA04B02F3094B31A21B3F</DialogId>
    <DialogName>Advanced Constraints</DialogName>
    <HelpButtonAlignment>BottomLeft</HelpButtonAlignment>
    <MarginRequired>None</MarginRequired>
    <HelpInfoEntries>
      <HelpInfoEntry>
        <FeatureId>6D23B425F4EE79F8907FA04B02F3094B31A21B3F</FeatureId>
        <ShortInfo>Information on advanced contraints</ShortInfo>
        <DetailedInfo></DetailedInfo>
        <VideoURL>https://www.youtube.com/watch?v=F0-3c9Xdu9c&amp;index=1&amp;list=PLO7SodxCJyn5pOwsFnf_THYr5RrKwLJ5k</VideoURL>
        <MoreDetailsURL></MoreDetailsURL>
      </HelpInfoEntry>
    </HelpInfoEntries>   
  </HelpEnabledDialog>

  <HelpEnabledDialog>
    <DialogId>211A6F04EB11BB648A55580E77FB3D5A0A6C0B06</DialogId>
    <DialogName>Relayout Diagram</DialogName>
    <HelpButtonAlignment>BottomLeft</HelpButtonAlignment>
    <MarginRequired>Bottom</MarginRequired>
    <HelpInfoEntries>
      <HelpInfoEntry>
        <FeatureId>282211EC2632207F0B66B2B85795F940FE0784EC</FeatureId>
        <ShortInfo>Information on relayout diagram</ShortInfo>
        <DetailedInfo></DetailedInfo>
        <VideoURL>https://www.youtube.com/watch?v=Dc9DpEPRrXg&amp;list=PLO7SodxCJyn5pOwsFnf_THYr5RrKwLJ5k&amp;index=19</VideoURL>
        <MoreDetailsURL></MoreDetailsURL>
      </HelpInfoEntry>
    </HelpInfoEntries>
  </HelpEnabledDialog>

  <HelpEnabledDialog>
    <DialogId>9B2BDB48BB7E44045B258CE7D670DE2928B586BB</DialogId>
    <DialogName>Pinning blocks</DialogName>
    <HelpButtonAlignment>BottomLeft</HelpButtonAlignment>
    <MarginRequired>None</MarginRequired>
    <HelpInfoEntries>
      <HelpInfoEntry>
        <FeatureId>F5B29BA48088AA38B9E7DCF38394A2D0498DA0BA</FeatureId>
        <ShortInfo>Information on pinning blocks</ShortInfo>
        <DetailedInfo></DetailedInfo>
        <VideoURL>https://www.youtube.com/watch?v=8lYDR-627LA&amp;index=15&amp;list=PLO7SodxCJyn5pOwsFnf_THYr5RrKwLJ5k</VideoURL>
        <MoreDetailsURL></MoreDetailsURL>
      </HelpInfoEntry>
    </HelpInfoEntries>
  </HelpEnabledDialog>

  <HelpEnabledDialog>
    <DialogId>00FD7AA230B772B0B73C014366A22CB57770BCBA</DialogId>
    <DialogName>Find duplicates</DialogName>
    <HelpButtonAlignment>BottomLeft</HelpButtonAlignment>
    <MarginRequired>None</MarginRequired>
    <HelpInfoEntries>
      <HelpInfoEntry>
        <FeatureId>2D0CCC08BB27986575138AE1D867617CFED15184</FeatureId>
        <ShortInfo>Information on finding duplicates</ShortInfo>
        <DetailedInfo></DetailedInfo>
        <VideoURL>https://www.youtube.com/watch?v=u072rXo61Ys&amp;list=PLO7SodxCJyn5pOwsFnf_THYr5RrKwLJ5k&amp;index=2</VideoURL>
        <MoreDetailsURL></MoreDetailsURL>
      </HelpInfoEntry>
    </HelpInfoEntries>
  </HelpEnabledDialog>

  <HelpEnabledDialog>
    <DialogId>A96BBBD9C904ECF82E889EFAED24DD36AC13D934</DialogId>
    <DialogName>Difference analyser</DialogName>
    <HelpButtonAlignment>TopRight</HelpButtonAlignment>
    <MarginRequired>None</MarginRequired>
    <HelpInfoEntries>
      <HelpInfoEntry>
        <FeatureId>59386EAA0D3D9188A0AC0FFD9BC35A0E58E3BA24</FeatureId>
        <ShortInfo>Information on difference analyser</ShortInfo>
        <DetailedInfo></DetailedInfo>
        <VideoURL>https://www.youtube.com/watch?v=L773hTg9sBs&amp;list=PLO7SodxCJyn5pOwsFnf_THYr5RrKwLJ5k&amp;index=3</VideoURL>
        <MoreDetailsURL></MoreDetailsURL>
      </HelpInfoEntry>
    </HelpInfoEntries>
  </HelpEnabledDialog>

  <HelpEnabledDialog>
    <DialogId>3EA765D34888CA0E66DAAEF49288617868794522</DialogId>
    <DialogName>Generic Importer</DialogName>
    <HelpButtonAlignment>BottomLeft</HelpButtonAlignment>
    <MarginRequired>None</MarginRequired>
    <HelpInfoEntries>
      <HelpInfoEntry>
        <FeatureId>E080B868677A8EE89588F16AF253E1317361EDBC</FeatureId>
        <ShortInfo>Information on the excel importer</ShortInfo>
        <DetailedInfo></DetailedInfo>
        <VideoURL>https://www.youtube.com/watch?v=3eGk9WQZ3Yc&amp;list=PLO7SodxCJyn5pOwsFnf_THYr5RrKwLJ5k&amp;index=4</VideoURL>
        <MoreDetailsURL></MoreDetailsURL>
      </HelpInfoEntry>
    </HelpInfoEntries>
  </HelpEnabledDialog>
</HelpEnabledDialogs>